@page
@model KahootTeamRealTime.Pages.QuizRealTime.QuestionScoresModel
@{
    ViewData["Title"] = "Question Scores";
}

<h2>Final Scores</h2>

<ul>
    @foreach (var user in Model.UserPoints)
    {
        <li><strong>@user.Name</strong>: @user.Points points</li>
    }
</ul>

<a href="/QuizRealTime/JoinRoom">Back to Home</a>